    <template>
      <div class="container p-5">
      
        <table class="table table-bordered table-hover">    
          <thead>
          <tr>    
            <th></th>
            <th>Name</th>    
            <th>Description</th>    
            <th>Link</th>
          </tr>    
          </thead>
          <tbody>
          <tr v-for="item in xmlItems" :key="item.id">    
            <td><img v-bind:src="item.icon"/></td>
            <td>{{item.name}}</td>    
            <td><span v-html="item.desc"></span></td>    
            <td><a v-bind:href="item.src">Source</a><br/>
            <a v-bind:href="item.apk">Download</a></td>
          </tr>    
        </tbody>
        </table>  
        </div>
    </template>
    <script>
    //importing bootstrap 5 Modules
    import "bootstrap/dist/css/bootstrap.min.css";
    import axios from 'axios';
    import xml2js from 'xml2js';
    export default {
      
        mounted(){ 
         //xml file calling
          axios.get('assets/index.xml')
            .then(response => {
              this.parseXML(response.data)  
                  .then((data) => {  
                    this.xmlItems = data;  
                  });       
            })
          
        },
        methods: {
          //xml file data parsing
          parseXML(data) {  
                     return  new Promise(resolve => {  
                          var k=""; 
                           var arr = [],  
                          parser = new xml2js.Parser(  
                            {  
                              trim: true,  
                              explicitArray: true  
                            });  
                        parser.parseString(data, function (err, result) {  
                            var obj = result.fdroid
                          for (k in obj.application) {  
                            var item = obj.application[k];  

                            var iconPath = ""
                            var repoBasePath = "https://s3.amazonaws.com/guardianproject-wind/fdroid/repo/";
                            if (typeof item.icon !== 'undefined') {
                                 iconPath = repoBasePath + 'icons/' + item.icon[0]
                            }

                            arr.push({  
                              id: item.id[0],  
                              name: item.name[0],  
                              desc: item.desc[0],  
                              src: item.source[0],
                              icon: iconPath,
                              apk: repoBasePath + item.package[0].apkname[0]
                            });  
                          }  
                          resolve(arr);  
                        });  
                      });  
                  }
        },
          data: function() {
      return {
        xmlItems:[]
      }
    }  
    }
    </script>
